<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1059723455670-5dishno6efqvr0mbjssumi5q6ns2aa15.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1059723455670-5dishno6efqvr0mbjssumi5q6ns2aa15</string>
	<key>API_KEY</key>
	<string>AIzaSyAAY6iUAg1-zLsRaL0y5HV2us7-k0VkiEU</string>
	<key>GCM_SENDER_ID</key>
	<string>1059723455670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SDLtest.ActivityMonitor</string>
	<key>PROJECT_ID</key>
	<string>activitymonitor-e01ef</string>
	<key>STORAGE_BUCKET</key>
	<string>activitymonitor-e01ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059723455670:ios:e1b28f3e01d66253</string>
	<key>DATABASE_URL</key>
	<string>https://activitymonitor-e01ef.firebaseio.com</string>
</dict>
</plist>